{% extends "authmn/index.html" %}

{% block login_content_block %}
    <div class="row-fluid container_page slide-right" id="profile_content">
        <div class="offset1 span3" id="left_content">
        </div>
        <div class="span6 white scroll-pane" id="right_content">
            <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
            <br><br>
            <h3> Edit Team Details </h3>

            <div id="editprofile_section">
                <form action="" method="POST">
                    {% csrf_token %}
                    <center><h3 class="white" for="id-user">User : {{ user }}</h3></center>
                    <table>
                        {{ form.as_table }}
                        <tr>
                            <td colspan="2"><center><input class="btn" value="Submit" type="submit" /></center></td>
                        </tr>
                    </table>
                </form>
                
            </div>
        </div>
    </div>

    <style type="text/css">
        table, td, th{
            border:1px solid transparent; 
            padding:5px; 
            position:relative;
            top:-5px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#profile_menu").click();
            $(".close").bind('click', function(e){
                url = $('#home_menu').attr('href');
                window.open(url,'_self');
            });
        });
    </script>
{% endblock %}

{% block home_menu_block %}
    <li class="menu-item">
        <a id="home_menu" href="{% url authmn_home %}">
            Home<br /><span class="sub"></span>
        </a>
    </li>
{% endblock %}
{% block login_menu_block %}
    <li class="menu-item current-menu-item">
        <a href="#" id="profile_menu" onclick="show_page(this.id)">
            Profile<br /><span class="sub"></span>
        </a>
    </li>
{% endblock %}
