<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta name="description" content="Lunar Rover Challenge, powered by Team Indus, organized by Shaastra is an event at Shaastra which will help Team INDUS win the Google Lunar XPrize. The LRC's Winner's rover could be a part of team INDUS' mission to the moon as their entry into this world wide competition.">
    <meta name="keywords" content="shaastra, robotics, iitmadras, google, lunar, x, team, indus, lunar, rover, challenge, iitm, iit">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/moon.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/image_links.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jquery.jscrollpane.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jbclock.css' %}" type="text/css" media="all">

    <title>Lunar Rover Challenge, powered by Team Indus, organized by Shaastra</title>

    <script type="text/javascript" src="{% static 'js/jquery-1.8.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jbclock.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TweenLite.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/CSSPlugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mwheelIntent.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-bPopup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moon.js' %}"></script>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42581770-1', 'shaastra.org');
  ga('send', 'pageview');
</script>
    
    <img src="{% static 'img/rovers/rover0.png' %}" style="display:none;" id="rover0_img">
    <img src="{% static 'img/rovers/rover1.png' %}" style="display:none;" id="rover1_img">
    <img src="{% static 'img/rovers/rover2.png' %}" style="display:none;" id="rover2_img">
</head>

<body>
    <div class="container-fluid">
        
        <!-- /////////////////////////////////////////////////////////
                                L O G O S
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <div class="row-fluid logo_set">
            <div class=" span6 logo_group">
                <div class="pull-left logo_single" >
                    <a href="http://www.shaastra.org" class="pull-left shaastra_logo"> 
                        <img class="pull-left" src="{% static 'img/shaastra_small.png' %}" /> 
                    </a>
                </div>
                <div class="pull-left logo_single" >
                    <a href="http://www.iitm.ac.in" class="pull-left iitm_logo"> 
                        <img class="pull-left" src="{% static 'img/iitm_logo_white.png' %}" /> 
                    </a>
                </div>
            </div>
            <div class="span6 logo_group">
                <div class="pull-right logo_single" >
                    <a href="#" class="pull-right glxp_logo" id="team_indus_menu" onclick="javascript:show_page(this.id)"> 
                        <!--<img class="pull-right" src="{% static 'img/glxp_logo_white.png' %}" />-->
                        <img class="pull-right" src="{% static 'img/t4s.png' %}" />
                    </a>
                </div>
                <!-- <div class="pull-right logo_single" >
                    <a href="#" class="pull-right indus_logo" id="team_indus_menu" onclick="javascript:show_page(this.id)">
                        <img class="pull-right" src="{% static 'img/team_indus_small.png' %}" />
                    </a>
                </div> -->
            </div>
        </div>
        <!-- /////////////////////////////////////////////////////////
                                P A G E S
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <div class="row-fluid container_page slide-right" id="event_format_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/event_format.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Event Format</h3>
                <ul>
                    <li type="disc"><strong>Preliminary Round (Round 1):-</strong>
                        <ul>
                            <li type="circle">The preliminary rounds are scheduled to take place in three different zones spanning across the country.</li>
                            <li type="circle">5 teams (+2 WaitList Teams) will be selected from each region.</li>
                            <li type="circle">The selected teams will come to Shaastra 2014 for Round 2 that will be held during the first week of January, 2014.</li>
                            <li type="circle">The preliminary round is tentatively scheduled to be held during the first week of October, 2013.</li>
                            <li type="circle">In this round, all the registered teams have to make a presentation explaining their design, strategy, plan and other technical details of the rover.</li>
                        </ul>
                    </li>
                    <li type="disc"><strong>Round 2:-</strong>
                        <ul>
                            <li type="circle">Selected teams from the various zones have to present a prototype of their model and show their working at Shaastra 2014.</li>
                            <li type="circle">Five teams will be selected for the final round</li>
                        </ul>
                    </li>
                    <li type="disc"><strong>Round 3/Final Round:-</strong>
                        <ul>
                            <li type="circle">In this round, the five selected teams should make an engineering model of their rover and demonstrate its capabilities as specified by the Problem Statement.</li>
                            <li type="circle">This will be held on a neutral ground around 18th-20th April 2014.</li>
                            <li type="circle"><strong>Winner's rover might be a part of team INDUS' mission to the moon</strong></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="prize_money_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/medal.png' %}" width="250px" height="250px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Prize Details:</h3>
                <p>So what are you in this for?</p>
                <p>Other than the fame, glory and an extraordinary sense of achievement, we won't possibly leave you empty handed. You stand to win -</p>
                <ol>
                    <li type="1"><b>Rs. 1 Lakh</b> for EACH of the TOP 5 Teams.</li>
                    <li type="1"><b>Prestigious Internships</b> for EACH MEMBER of the WINNING TEAM.</li>
                    <li type="1">An advanced <b>Development Kit</b> to assist you in your future endeavours.</li>
                    <li type="1">And of course, <b>Certificates</b> recognizing and proclaiming the scale of your achievement as the best in the country.</li>
                </ol>
                <!-- <p>All sponsored by Team Indus and it's partners</p> -->
            </div>
        </div>
        <div class="row-fluid container_page slide-right" id="faq_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/faq.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Frequently Asked Questions</h3>
                <br />
                <h4><u> General</u> :</h4>
                <ol>
                    <li>
                        <b><i>What is Trained 4 Space ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> Trained 4 Space is a country-wide search to identify the next generation of Creators &amp; Explorers.
                    </li>
                    <li>
                        <b><i>Why should we participate ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> All the participating teams will receive Trained for Space participation certificate - a certificate recognized across the country
                            as a mark of technical ingenuity and perfectionism of work. The winning teams shall be awarded in a variety of ways ranging from large cash prizes to prestigious internships.
                            The winning team's students will get a chance to work with Team Indus and its partners in India's private race to the moon. And most importantly, they will get a chance to
                            send their ROVER to moon.
                    </li>
                    <li>
                        <b><i>What is the Event Format ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> Competition includes 3 rounds.
                            <ul>
                                <li>1st stage is a qualifier round which will take place from 1st - 6th October 2013</li>
                                <li>2nd stage is a shortlist round which will take place from 5th - 8th January 2014</li>
                                <li>3rd stage is a final round which will take place from 18th - 20th April 2014</li>
                            </ul>
                    </li>
                </ol>
                <br />
                <h4><u> Registration</u> :</h4>
                <ol>
                    <li>
                        <b><i>Is there any registration fee ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> No, there is no registration fee. It is a free competition, conducted to encourage the students who are interested in the engineering world.
                    </li>
                    <li>
                        <b><i>Are there any additional monetary charges to participate ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> No additional monetary charges are required to participate in the program.
                    </li>
                    <li>
                        <b><i>How can I register ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> Students can register through this online portal : <a href="{% url authmn_register %}">Registration Link</a>
                    </li>
                </ol>
                <br />
                <h4><u> Team Size &amp; Eligibility</u> :</h4>
                <ol>
                    <li>
                        <b><i>What is the eligibility criterion to participate ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> The student must be pursuing 2nd to final year engineering.
                    </li>
                    <li>
                        <b><i>How many team members can we have ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> Maximum of 5 students per team
                    </li>
                    <li>
                        <b><i>How many teams can we have from each college ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> No restriction
                    </li>
                    <li>
                        <b><i>Can students from different colleges form a team ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> No, only students from the same college can form a team.
                    </li>
                    <li>
                        <b><i>Should we pay a deposit fee ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> No, there is no need for any deposit fee
                    </li>
                </ol>
                
                <br />
                <h4><u> Location</u> :</h4>
                <ol>
                    <li>
                        <b><i>Does the team need to travel anywhere to participate in the competition ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> Yes, final round of the competition takes place at IIT-M. So, all the out-station students should travel to Chennai.
                    </li>
                    <li>
                        <b><i>At what places will the program take place ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> The qualifier round will take place in IIT-Madras and 2 other satellite venues IIT-Delhi and VJTI. The rest of the two rounds will take place at IIT-M.
                    </li>
                    <li>
                        <b><i>Is there any transportational facilities provided ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> There are no transportational facilities provided and no reimbursements are done. Transportation and accommodation charges should be paid for by the team itself.
                    </li>
                </ol>
                <br />
                <h4><u> Short Listing &amp; Judgement</u> :</h4>
                <ol>
                    <li>
                        <b><i>How many teams will be selected for 2nd round ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> 8 teams from each satellite venue will be shortlisted and 1 waiting list team from each satellite venue. Total 24 teams will compete in round 2.
                    </li>
                    <li>
                        <b><i>How many teams will be selected in round 3 ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> 5 Teams will be selected for round 3.
                    </li>
                    <li>
                        <b><i>What are the judgement criteria ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> The judgement criteria rules are mentioned in the website. 
                    </li>
                    <li>
                        <b><i>How is the competition different from others ?</i></b>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Ans :</strong> Trained 4 Space is a unique program organized by IIT-Madras, where aerospace aspirants are given oppurtunity to make their dream come true by sending their rover to space. Judging panel included ISRO members and other experienced dignitaries which really makes this nationwide competition different from other robotics competitions.
                    </li>
                </ol>

                <br />
                <h4><u> Technical Questions</u> :</h4>
                <ol>
                    <li>
                        For any technical queries, download the PDF version of the Problem Statement.
                    </li>
                </ol>
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="contact_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/contact.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Contact Details:</h3>
                <center>
                    <p style="text-align:left">For any doubts or clarifications, please feel free to mail to
                    <a href="mailto:lunarx@shaastra.org">lunar@shaastra.org</a></p>
                    <!--<p style="text-align:left">Siddharth Dialani<br>
                       <a href="mailto:lunarx@shaastra.org">siddharthdialani@gmail.com</a>
                    </p>
                    <p style="text-align:left">Shivaprasad<br>
                       <a href="mailto:lunarx@shaastra.org">trshivaprasad@gmail.com</a>
                    </p>-->
                </center>
            </div>
        </div>  
        <div class="row-fluid container_page slide-right" id="problem_statement_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/problem_statement.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3><center>Problem Statement</center></h3>
                <br />
                <h4><center>The Problem Statement <span style="color : #ff0000;">Version2</span> has been released!</center></h4>
                <h5><center><a class="btn" href="{% static 'files/LunarPS_v2.pdf' %}">Problem Statement V2 (PDF)</a></h5></center>
                <h5><center><a class="btn" href="{% static 'files/LunarFig.pdf' %}">Figures (PDF)</a> </center></h5>
                <br /><br />
                <h5><center><a class="btn" href="{% static 'files/Lunar_v2.zip' %}">Download V2 (Zip)</a></button></center></h5>
                <br /><br />
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="glc_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/glc.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Lunar Rover Challenge</h3>
                <p>
                    Lunar Rover Challenge is an event at Shaastra which 
                    will help <strong>Team INDUS</strong> win the  
                    <a href="http://www.googlelunarxprize.org/">
                    Google Lunar XPrize</a>. The LRC's 
                    Winner's rover could be a part of team INDUS' mission 
                    to the moon as their entry into this world wide competition.
                </p>
            </div>
        </div>
        <div class="row-fluid container_page slide-right" id="glx_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/glx.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Google Lunar XPrize</h3>
                <p>
                    The google lunar X prize is an international event
                    conducted by Google and X Prize Foundation for Lunar 
                    Exploration. A total of $30 million in prizes are 
                    available to the first privately funded team to 
                    safely land a robot on the surface of the moon, have 
                    that robot travel 500 meters over the lunar surface 
                    and send video, images and data back to the Earth.
                </p>
                <center>
                    <p>
                        To know more about the Google Lunar XPrize, visit the 
                        link below!
                    </p>
                    <p>
                        <a href="http://www.googlelunarxprize.org/">http://www.googlelunarxprize.org/</a>
                    </p>
                </center>
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="team_indus_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/team_indus.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Team INDUS</h3>
                <p>
                    Axiom Research Labs, an Aerospace startup based in 
                    New Delhi, India, has registered for the Google Lunar 
                    X Prize as "Team Indus". Team Indus is the only Indian 
                    entry in this prestigious global challenge. Team Indus 
                    comprises of entrepreneurs, enthusiasts and explorers
                    with experience in leading and developing innovative 
                    projects and organizations. They aim for a lunar landing 
                    before December 2015 in its bid to win the international 
                    prize.
                </p>
                <p>
                    The official Page for Team Indus at the GLXP Website:
                    <a href="http://www.googlelunarxprize.org/teams/team-indus">
                        http://www.googlelunarxprize.org/teams/team-indus
                    </a>
                </p>
                <p>
                    Team Indus's Official Website + Blog:
                    <a href="http://blog.teamindus.in/">
                        http://blog.teamindus.in/
                    </a>
                </p>
                <!--<p>
                    Interview of Team Indus's Team Leader Rahul Narayan:
                    <a href="http://www.googlelunarxprize.org/media/videos/team-indus-2012-google-lunar-x-prize-team-interview">
                        here
                    </a>
                </p>-->
                <p>
                    Watch the Team Indus Teaser :
                    <a href="http://www.youtube.com/watch?v=glg8dHnZ50g">
                        here
                    </a>
                </p>
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="mission_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/mission.png' %}">
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Introduction</h3>
                <p>
                    The space race of the 20th century led to many great 
                    achievements in the field of space exploration. 
                </p>
                <p>
                    Shaastra 2014 now proudly brings to you an exciting 
                    and unique event that shall place you right in the 
                    middle of the Space Race of the 21st Century! 
                </p>
                <p>
                    In collaboration with Team Indus - India's pioneers 
                    and representatives in today's global race to the 
                    moon (the Google Lunar X Prize) - we give the engineers 
                    and students across the country the opportunity to use 
                    their engineering expertise, creativity and analytical 
                    skills to tackle a challenge of a scale never seen before. 
                    Build us the best rover to explore the Lunar Surface, 
                    and we shall send it there for you! 
                </p>
                <p>
                    What does the winner stand to get? Along with a range 
                    of valuable prizes and unique opportunities, the winner 
                    also gets the bragging rights to claim that their creation 
                    stands on the moon and looks down at the entire world. 
                    It's a chance of a lifetime, and Shaastra 2014 is bringing 
                    it for all you dreamy engineers to exploit and leave your 
                    name behind in the annals of India's achievements in Space.
                </p>
                <p>
                    This challenge is based on the Google Lunar XPrize and 
                    is in collaboration with Team Indus. Be part of this incredible journey. 
                    It all starts here with Lunar Rover Challenge at Shaastra 2014.
                    
                </p>
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="intro_content">
            <!--<div class="offset1 span3">
                <center>
                    <img src="img/team_indus_large.png" width="200px" height="200px" />
                </center>
            </div>-->
            <div class="offset1 span9 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <!--<h3>Introduction</h3>-->
                <div class="row-fluid">
                    <blockquote class="pull-left" style="margin-top : 10px;">
                        <p>Houston, Apollo 11 . . . I've got the world in my window.</p>
                        <small> Michael Collins</small>
                    </blockquote>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <a href="#" onclick="show_page('mission_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/mission.png' %}">
                                    <div class="mask">
                                        <h2>Introduction</h2>
                                        <p>What is a mission if it doesn't awaken your mind, drive your body, free your creativity and capture your imagination. Come discover a mission unlike any</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#" onclick="show_page('glc_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/glc.png' %}">
                                    <div class="mask">
                                        <h2>The Lunar Rover Challenge!</h2>
                                        <p>An opportunity like none other. Do what you do best - Create, Innovate, Deliver.</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                    <div class="span3">    
                        <a href="#" onclick="show_page('team_indus_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/team_indus_large.png' %}">
                                    <div class="mask">
                                        <h2>Team Indus</h2>
                                        <p>Our very own representatives, in this theatre of tech-gladiators</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#" onclick="show_page('glx_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/glx.png' %}">
                                    <div class="mask">
                                        <h2>Google Lunar XPrize</h2>
                                        <p>21st century's race to the moon.</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row-fluid container_page slide-left" id="round1_content">
            
            <div class="offset1 span3" id="left_content">
                <center>
                    <!--<img src="{% static 'img/team_indus.png' %}" width="200px" height="200px" />-->
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>LRC - ROUND 1</h3>
                {% if not request.user.is_authenticated %}
                    <p> <b><center><span style="color : #ff5555">Login to select your Center for the first round NOW !</span></center></b> </p>
                {% else %}
                    <form method="POST"> <table class="table">{% csrf_token %} {{round_1_form.as_table}} <tr><td colspan="2"><center><input class="btn btn-inverse" type="submit" name="submit" value="    Submit    " /></center></td></tr></table></form>
                {% endif %}
                <p>
                    <b><u>Event Format</u> :</b> <br/>
                    <ol>
                        <li>Round 1 is a presentation round. All the registered participants have to make a presentation regarding the technical details of their rover.</li>
                        <li>A total time of 8 minutes is given for each team to give the presentation.</li>
                        <li>The presentation should include a detailed description regarding the mechanical structure of the robot.</li>
                        <li>The presentation may include 3D models of the rover and any means of simulation or analysis of the mechanical model.</li>
                        <li>The presentation should also include description of the electrical specifications, type of
communication, strategy and the algorithms that are being implemented on the robot(rover). The above presentation must include, but need not be restricted to, the points mentioned above.  </li>
                        <li>8 teams (+2 waitlist teams)will be selected from each region. These teams are eligible for participation in Shaastra 2014 for round 2.</li>
                        <li>
                            The presentations have to be mailed to lunarx@shaastra.org before the deadlines mentioned below :
                            <ul>
                                <li><i><a href="http://www.iitm.ac.in">IIT Madras</a></i> : 10th October , 11:59 PM</li>
                                <li><i><a href="http://www.iitd.ac.in">IIT Delhi</a></i> : 26th September , 11:59 PM</li>
                                <li><i><a href="http://www.vjti.ac.in">VJTI</a></i> : 3rd October 2013 , 11:59 PM</li>
                            </ul>
                        </li>
                        <li>All the presentations have to be mailed in the Shaastra template.The subject of the mail should be LRC_&lt;team_name&gt;_&lt;participating region&gt; <br />
                            ex: LRC_xxyy_iitd, LRC_xxyy_iitm, LRC_xxyy_vjti</li>
                        
                    </ol>
                    <center><a href="{% static 'files/ppt_template.pptx' %}" class="btn btn-inverse"> Presentation Template (pptx) </a></center>
                </p>

                <p>
                    <b><u>Venue</u> :</b> <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;The preliminary rounds are scheduled to take place at three different places across the country. The three colleges hosting the first round are IIT Delhi,IIT Madras and VJTI(Mumbai).
                    <br />
                    This will be a one day event. The dates and timings of the event are:
                    <br />
                    <ul>
                        <li><i><a href="http://www.iitm.ac.in">IIT Madras</a></i> : 28th September 2013 , 9:30 AM</li>
                        <li><i><a href="http://www.iitd.ac.in">IIT Delhi</a></i> : 12th October 2013 , 9:30 AM</li>
                        <li><i><a href="http://www.vjti.ac.in">VJTI</a></i> : 5th October 2013 , 9:30 AM</li>
                    </ul>
                </p>

                <p>
                    <b><u>Accomodation</u> :</b> <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;The host colleges will not be providing accommodation for the participants in the first round. However suggestions regarding nearby hotels and stay places will be put up for the convenience of the participants.
                </p>
                    <center>
                <p class="btn-group">
                        <a href="{% static 'files/alt_accommodation_iitm.pdf' %}" class="btn btn-inverse"> IIT Madras </a>
                        <a href="{% static 'files/alt_accommodation_iitd.pdf' %}" class="btn btn-inverse"> IIT Delhi </a>
                        <a class="btn btn-invalid"> VJIT </a>
                </p>
                    </center>
                <p>
                    <br />Contact Details : <a href="mailto:lunarx@shaastra.org">lunarx[at]shaastra.org</a>
                    <br /><br />For any queries/clarifications, please feel free to mail at <a href="mailto:lunarx@shaastra.org">lunarx[at]shaastra.org</a>

                </p>
            </div>
        </div>
        
        {% block login_content_block %}
        {% endblock %}
        {% if request.user.is_authenticated %}
        <!-- <div class="row-fluid container_page slide-right" id="user_details_content">
            <div class="offset1 span3" id="left_content">
                <center>
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Team Details</h3>
                <table class="table-bordered">
                    <t>
                </table>
            </div>
        </div> -->
        {% endif %}
        <!-- /////////////////////////////////////////////////////////
                                M O O N
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <div class="slide-left fade in row-fluid" id="container_moon">
            <div id="home_effect" class="span12">
                <div id="home_moon" class="home_moon">
                    
                    <!-- <img id="fg_marquee_img" src="img/marquee_fg.png"/>
                    <marquee>Website has been launched !</marquee> -->
                    <img id="home_moon_img" src="{% static 'img/moon.png' %}"/> 
                </div>
                <div class="span12 click_help_text white">
                    <center>
                        Click anywhere to create your own satellite! Or click <a href="#"  id="click_help_text" onclick='killall()'>here</a> to clear them all
                    </center>
                </div>
            </div>
        <div class="clock_wrapper" style="position:absolute; top : 40%; left : 75%;">
            
            <input type="hidden" value="{{startDate}}" id="startDate_value">
            <input type="hidden" value="{{endDate}}" id="endDate_value">
            <input type="hidden" value="{{now}}" id="now_value">

            <h4 style="width:160px; color:#ffffff"> Register within: </h4>
            <div class="clock">
                <!-- Days -->
                <div class="clock_days">
                    <div class="bgLayer">
                        <canvas id="canvas_days" width="188" height="188"> </canvas>
                        <div class="text">
                            <span class="val"></span><span class="type_days type">&nbsp;Days</span>
                        </div>
                    </div>
                </div>
                <!-- Days -->
                <!-- Hours -->
                <div class="clock_hours">
                    <div class="bgLayer">
                        <canvas id="canvas_hours" width="188" height="188"> </canvas> 
                        <div class="text">
                            <span class="val"></span><span class="type_hours type">&nbsp;Hours</span>
                        </div>
                    </div>
                </div>
                <!-- Hours -->
                <!-- Minutes -->
                <div class="clock_minutes">
                    <div class="bgLayer">
                        <canvas id="canvas_minutes" width="188" height="188"> </canvas>
                        <div class="text">
                            <span class="val"></span><span class="type_minutes type">&nbsp;Minutes</span>
                        </div>
                    </div>
                </div>
                <!-- /Minutes -->
                <!-- Seconds --
                <div class="clock_seconds">
                    <div class="bgLayer">
                        <canvas id="canvas_seconds" width="188" height="188">
                        </canvas>
                        <div class="text">
                            <span class="val"></span><span class="type_seconds type">&nbsp;Seconds</span>
                        </div>
                    </div>
                </div>
                !-- /Seconds -->
            </div>
        </div><!--/wrapper-->
        
        <div class="home_login_div">
            
            <div class="span4 white scroll-pane" id="right_content">
                    <!--Ever dreamed of having your creation sent to outer space as the world watches in awe? Competing and excelling as an engineer at the national stage? And finally, winning a large prize and the country's respect for your ingenuity and talent?
                    -->
                    <!-- We offer you a chance to realize your dreams early in your life. Use your engineering skills to build a rover for the moon. But first some simple steps- -->
                    
                    <center><h5>Live Your Dream</h5></center>
                    <ol>
                        <li>Register to compete in Lunar Rover Challenge</li>
                        <li>Dive into the beautiful Problem Statement and let the engineer within you take over.</li>
                        <li>Attend Round One, show the judges the ingenuity and practicality of your design to get selected to Round 2 <!--amongst the elite group of students from across the country who shall then attend Shaastra '14 at IIT-M--></li>
                        <li>Have the time of your life as you surge towards the National Finals and the chance to start living your dreams.</li>
                    </ol>
                    Convinced? Then what are you waiting for? Join the country's engineers in showing off their worth at a national stage!
                    
                    Not convinced? Check out the large prizes we offer you along with the chance to send your bot to the moon. Then check out our problem statement, Team Indus's incredible journey in representing India and finally head back to the convinced zone!"
                    <br />
                    <br />
            </div>
        </div>

        {% if request.user.is_authenticated %}
            <div id="home_login_div_bottom">
                <center>
                <p style="font-size:17px; color:#ffffff;">Welcome, <strong>{{request.user.username}}</strong> </p>
                <div class="btn-group ">
                    <a class='btn btn-inverse' href="{% url authmn_logout %}">Logout</a>
                    <a class='btn btn-inverse' href="{% url authmn_edit_profile %}">Edit Profile</a>
                </div>
                </center>
            </div>
        {% else %}
            <div id="home_login_div_bottom">
                <center><div class="btn-group ">
                    <a class='btn btn-inverse' href="{% url authmn_login %}">&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a class='btn btn-inverse' href="{% url authmn_register %}">&nbsp;&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;</a>
                </div>
                </center>
            </div>
        {% endif %}
        </div>
        <!-- /////////////////////////////////////////////////////////
                                N A V B A R
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->        
        <div id="navigation_bottom" class="navbar-bottom">
            <div class="navigation">
                <ul class="menu">
                {% block home_menu_block %}
                    <li class="menu-item current-menu-item">
                        <a href="#" id="home_menu" onclick="show_page(this.id)">
                            Home<br /><span class="sub"></span>
                        </a>
                    </li>
                {% endblock %}
                    <li class="menu-item">
                        <a href="#" id="intro_menu" onclick="show_page(this.id)">
                            Introduction<br /><span class="sub"></span>
                        </a>
                    </li>
                    {% block login_menu_block %}
                    {% endblock %}
                    <li class="menu-item">
                        <a href="#" id="event_format_menu" onclick="show_page(this.id)">
                            Event Format<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="problem_statement_menu" onclick="show_page(this.id)">
                            Problem Statement<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#"  id="round1_menu" onclick="show_page(this.id)">
                            ROUND 1<br><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="prize_money_menu" onclick="show_page(this.id)">
                            Prize Money<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="faq_menu" onclick="show_page(this.id)">
                            FAQ<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#"  id="contact_menu" onclick="show_page(this.id)">
                            Contact<br><span class="sub"></span>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <!-- <li class="menu-item">
                        <a href="#"  id="user_details_menu" onclick="show_page(this.id)">
                            Details<br><span class="sub"></span>
                        </a>
                    </li> -->
                    {% endif %}
                </ul>
            </div>
            <div class="cursor"></div>
            <div class="cursor-top"></div>
            <div class="cursor-bottom"></div>
            <div class="social_buttons pull-right" onmouseover="javascript:this.style.width='156px'" onmouseout="javascript:this.style.width='39px'">
                <a class="social_buttons_facebook" href="https://www.facebook.com/Shaastra">
                    <span></span>
                </a>
                <a class="social_buttons_google" href="http://www.youtube.com/user/iitmshaastra"></a>
                <a class="social_buttons_twitter" href="https://twitter.com/Shaastra_IITM"></a>
            </div>
            
        </div>
    </div>
</body>
</html>
