<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/moon.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/image_links.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jquery.jscrollpane.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jbclock.css' %}" type="text/css" media="all">

    <title>Trained for Space, powered by Team Indus, organized by Shaastra</title>

    <script type="text/javascript" src="{% static 'js/jquery-1.8.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jbclock.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TweenLite.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/CSSPlugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mwheelIntent.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-bPopup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moon.js' %}"></script>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42581770-1', 'shaastra.org');
  ga('send', 'pageview');
</script>
    
    <img src="{% static 'img/rovers/rover0.png' %}" style="display:none;" id="rover0_img">
    <img src="{% static 'img/rovers/rover1.png' %}" style="display:none;" id="rover1_img">
    <img src="{% static 'img/rovers/rover2.png' %}" style="display:none;" id="rover2_img">
</head>

<body>
    <div class="container-fluid">
        
        <!-- /////////////////////////////////////////////////////////
                                L O G O S
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <div class="row-fluid logo_set">
            <div class=" span6 logo_group">
                <div class="pull-left logo_single" >
                    <a href="http://shaastra.org" class="pull-left shaastra_logo"> 
                        <img class="pull-left" src="{% static 'img/shaastra_small.png' %}" /> 
                    </a>
                </div>
                <div class="pull-left logo_single" >
                    <a href="http://www.iitm.ac.in" class="pull-left iitm_logo"> 
                        <img class="pull-left" src="{% static 'img/iitm_logo_white.png' %}" /> 
                    </a>
                </div>
            </div>
            <div class="span6 logo_group">
                <div class="pull-right logo_single" >
                    <a href="http://www.googlelunarxprize.org/" class="pull-right glxp_logo"> 
                        <!--<img class="pull-right" src="{% static 'img/glxp_logo_white.png' %}" />-->
                        <img class="pull-right" src="{% static 'img/t4s.png' %}" />
                    </a>
                </div>
                <div class="pull-right logo_single" >
                    <a href="#" class="pull-right indus_logo" id="team_indus_menu" onclick="javascript:show_page(this.id)">
                        <img class="pull-right" src="{% static 'img/team_indus_small.png' %}" />
                    </a>
                </div>
            </div>
        </div>
        <!-- /////////////////////////////////////////////////////////
                                P A G E S
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <div class="row-fluid container_page slide-right" id="event_format_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/event_format.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Event Format</h3>
                <ul>
                    <u><li><strong>Preliminary Round (Round 1):-</strong></u>
                        <ul>
                            <li type="square">The preliminary rounds are scheduled to take place in four different zones spanning across the country.</li>
                            <li type="square">5 teams (+2 WaitList Teams) will be selected from each region.</li>
                            <li type="square">Hence, 20 teams + top 4 waitlist teams (of a total of 8)= 24 teams will come to Shaastra 2014 for Round 2 that will be held during the first week of January, 2014.</li>
                            <li type="square">The preliminary round is tentatively scheduled to be held during the first week of October, 2013.</li>
                            <li type="square">In this round, all the registered teams have to make a presentation explaining their design, strategy, plan and other technical details of the rover.</li>
                        </ul>
                    </li>
                    <u><li><strong>Round 2:-</strong></u>
                        <ul>
                            <li type="square">Selected teams from the various zones have to present a prototype of their model and show their working at Shaastra 2014.</li>
                            <li type="square">Five teams will be selected for the final round</li>
                        </ul>
                    </li>
                    <u><li><strong>Round 3/Final Round:-</strong></u>
                        <ul>
                            <li type="square">In this round, the five selected teams should make an engineering model of their rover and demonstrate its capabilities as specified by the Problem Statement.</li>
                            <li type="square">This will be held on a neutral ground around 18th-20th April 2014.</li>
                            <li type="square"><strong>Winner's rover might be a part of team INDUS' mission to the moon</strong></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="prize_money_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/medal.png' %}" width="250px" height="250px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Prize Details:</h3>
                <p>So what are you in this for?</p>
                <p>Other than the fame, glory and an extraordinary sense of achievement, we won't possibly leave you empty handed. You stand to win -</p>
                <ol>
                    <li type="square"><b>Rs. 1 Lakh</b> for EACH of the TOP 5 Teams.</li>
                    <li type="square"><b>Prestigious Internships</b> for EACH MEMBER of the WINNING TEAM.</li>
                    <li type="square">An advanced <b>Development Kit</b> to assist you in your future endeavours.</li>
                    <li type="square">And of course, <b>Certificates</b> recognizing and proclaiming the scale of your achievement as the best in the country.</li>
                </ol>
                <p>All sponsored by Team Indus and it's partners</p>
            </div>
        </div>
        <div class="row-fluid container_page slide-right" id="faq_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/faq.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>FAQ:</h3>
                <strong><p>Q1. How many people can be in a team?</strong><br>Ans: Maximum of 5 members can be in a team.</p>
                <br>
                <strong><p>Q2. Can students from different colleges form a team?</strong><br>Ans: No, it is expected that students from the same college form a team.</p>
                <br>
                <strong><p>Q3. Can a college have more than one team?</strong><br>Ans. In first round, there can be any number of teams from the same college. But from the second round, the decision will purely depend on judges.</p>
                <br>
                <strong><p>Q4. Will the teams selected for round 2 be provided with transport provisions to the location of the event? </strong><br>Ans. Unfortunately, the teams shall have to arrange for their own transport to the event. The organizers will not be providing for reimbursement or transport.</p>
                
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="contact_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/contact.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Contact Details:</h3>
                <center>
                    <p>For any doubts or clarifications, please feel free to drop a mail at</p>
                    <p><a href="mailto:lunarx@shaastra.org">lunarx@shaastra.org</a></p>
                </center>
            </div>
        </div>  
        <div class="row-fluid container_page slide-right" id="problem_statement_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/problem_statement.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3><center>Problem Statement</center></h3>
                <br />
                <br />
                <h4><center>Coming Soon! Stay tuned for more updates...</center></h4>
                <br />
                <br />
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="glc_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/glc.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Trained for Space</h3>
                <p>
                    Trained for space is an event at Shaastra which 
                    will help <strong>Team INDUS</strong> win the  
                    <a href="http://www.googlelunarxprize.org/">
                    Google Lunar XPrize</a>. The Trained For Space 
                    Winner's rover could be a part of team INDUS' mission 
                    to the moon as their entry into this world wide competition.
                </p>
            </div>
        </div>
        <div class="row-fluid container_page slide-right" id="glx_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/glx.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Google Lunar XPrize</h3>
                <p>
                    The google lunar X prize is an international event
                    conducted by Google and X Prize Foundation for Lunar 
                    Exploration. A total of $30 million in prizes are 
                    available to the first privately funded team to 
                    safely land a robot on the surface of the moon, have 
                    that robot travel 500 meters over the lunar surface 
                    and send video, images and data back to the Earth.
                </p>
                <center>
                    <p>
                        To know more about the Google Lunar XPrize, visit the 
                        link below!
                    </p>
                    <p>
                        <a href="http://www.googlelunarxprize.org/">http://www.googlelunarxprize.org/</a>
                    </p>
                </center>
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="team_indus_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/team_indus.png' %}" width="200px" height="200px" />
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Team INDUS</h3>
                <p>
                    Axiom Research Labs, an Aerospace startup based in 
                    New Delhi, India, has registered for the Google Lunar 
                    X Prize as "Team Indus". Team Indus is the only Indian 
                    entry in this prestigious global challenge. Team Indus 
                    comprises of entrepreneurs, enthusiasts and explorers
                    with experience in leading and developing innovative 
                    projects and organizations. They aim for a lunar landing 
                    before December 2015 in its bid to win the international 
                    prize.
                </p>
                <p>
                    The official Page for Team Indus at the GLXP Website:
                    <a href="http://www.googlelunarxprize.org/teams/team-indus">
                        http://www.googlelunarxprize.org/teams/team-indus
                    </a>
                </p>
                <p>
                    Team Indus's Official Website + Blog:
                    <a href="http://blog.teamindus.in/">
                        http://blog.teamindus.in/
                    </a>
                </p>
                <p>
                    Interview of Team Indus's Team Leader Rahul Narayan:
                    <a href="http://www.googlelunarxprize.org/media/videos/team-indus-2012-google-lunar-x-prize-team-interview">
                        here
                    </a>
                </p>
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="mission_content">
            <div class="offset1 span3" id="left_content">
                <center>
                    <img src="{% static 'img/mission.png' %}">
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Introduction</h3>
                <p>
                    The space race of the 20th century led to many great 
                    achievements in the field of space exploration. 
                </p>
                <p>
                    Shaastra 2014 now proudly brings to you an exciting 
                    and unique event that shall place you right in the 
                    middle of the Space Race of the 21st Century! 
                </p>
                <p>
                    In collaboration with Team Indus - India's pioneers 
                    and representatives in today's global race to the 
                    moon (the Google Lunar X Prize) - we give the engineers 
                    and students across the country the opportunity to use 
                    their engineering expertise, creativity and analytical 
                    skills to tackle a challenge of a scale never seen before. 
                    Build us the best rover to explore the Lunar Surface, 
                    and we shall send it there for you! 
                </p>
                <p>
                    What does the winner stand to get? Along with a range 
                    of valuable prizes and unique opportunities, the winner 
                    also gets the bragging rights to claim that their creation 
                    stands on the moon and looks down at the entire world. 
                    It's a chance of a lifetime, and Shaastra 2014 is bringing 
                    it for all you dreamy engineers to exploit and leave your 
                    name behind in the annals of India's achievements in Space.
                </p>
                <p>
                    This challenge is based on the Google Lunar XPrize and 
                    is in collaboration with Team Indus. Be part of this incredible journey. 
                    It all starts here with GLC at Shaastra 2014.
                    
                </p>
            </div>
        </div>
        <div class="row-fluid container_page slide-left" id="intro_content">
            <!--<div class="offset1 span3">
                <center>
                    <img src="img/team_indus_large.png" width="200px" height="200px" />
                </center>
            </div>-->
            <div class="offset1 span9 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <!--<h3>Introduction</h3>-->
                <div class="row-fluid">
                    <blockquote class="pull-left" style="margin-top : 10px;">
                        <p>Houston, Apollo 11 . . . I've got the world in my window.</p>
                        <small> Michael Collins</small>
                    </blockquote>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <a href="#" onclick="show_page('mission_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/mission.png' %}">
                                    <div class="mask">
                                        <h2>Introduction</h2>
                                        <p>What is a mission if it doesn't awaken your mind, drive your body, free your creativity and capture your imagination. Come discover a mission unlike any</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#" onclick="show_page('glc_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/glc.png' %}">
                                    <div class="mask">
                                        <h2>Trained For Space</h2>
                                        <p>An opportunity like none other. Do what you do best - Create, Innovate, Deliver.</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                    <div class="span3">    
                        <a href="#" onclick="show_page('team_indus_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/team_indus_large.png' %}">
                                    <div class="mask">
                                        <h2>Team Indus</h2>
                                        <p>Our very own representatives, in this theatre of tech-gladiators</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                    <div class="span3">
                        <a href="#" onclick="show_page('glx_menu')">
                            <center>
                                <div class="image_link">
                                    <img src="{% static 'img/glx.png' %}">
                                    <div class="mask">
                                        <h2>Google Lunar XPrize</h2>
                                        <p>21st century's race to the moon.</p>
                                    </div>
                                </div>
                            </center>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <!-- <div class="row-fluid container_page slide-right" id="user_details_content">
            <div class="offset1 span3" id="left_content">
                <center>
                </center>
            </div>
            <div class="span6 white scroll-pane" id="right_content">
                <button type="button" class="close close_white" onclick="$('#home_menu').click();">&times;</button>
                <h3>Team Details</h3>
                <table class="table-bordered">
                    <t>
                </table>
            </div>
        </div> -->
        {% endif %}
        <!-- /////////////////////////////////////////////////////////
                                M O O N
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        {% block moon_block %}
        <div class="slide-left fade in row-fluid" id="container_moon">
            <div id="home_effect" class="span12">
                <div id="home_moon" class="home_moon">
                    
                    <!-- <img id="fg_marquee_img" src="img/marquee_fg.png"/>
                    <marquee>Website has been launched !</marquee> -->
                    <img id="home_moon_img" src="{% static 'img/moon.png' %}"/> 
                </div>
                <div class="span12 click_help_text white">
                    <center>
                        Click anywhere to create your own satellite! Or click <a href="#"  id="click_help_text" onclick='killall()'>here</a> to clear them all
                    </center>
                </div>
            </div>
        </div>
        <div class="clock_wrapper" style="position:absolute; top : 40%; left : 75%;">
            
            <input type="hidden" value="{{startDate}}" id="startDate_value">
            <input type="hidden" value="{{endDate}}" id="endDate_value">
            <input type="hidden" value="{{now}}" id="now_value">

            <div class="clock">
                <!-- Days -->
                <div class="clock_days">
                    <div class="bgLayer">
                        <canvas id="canvas_days" width="188" height="188"> </canvas>
                        <div class="text">
                            <span class="val"></span><span class="type_days type">&nbsp;Days</span>
                        </div>
                    </div>
                </div>
                <!-- Days -->
                <!-- Hours -->
                <div class="clock_hours">
                    <div class="bgLayer">
                        <!--<canvas id="canvas_hours" width="188" height="188"> </canvas> -->
                        <div class="text">
                            <span class="val"></span><span class="type_hours type">&nbsp;Hours</span>
                        </div>
                    </div>
                </div>
                <!-- Hours -->
                <!-- Minutes -->
                <div class="clock_minutes">
                    <div class="bgLayer">
                        <!--<canvas id="canvas_minutes" width="188" height="188"> </canvas>-->
                        <div class="text">
                            <span class="val"></span><span class="type_minutes type">&nbsp;Minutes</span>
                        </div>
                    </div>
                </div>
                <!-- /Minutes -->
                <!-- Seconds --
                <div class="clock_seconds">
                    <div class="bgLayer">
                        <canvas id="canvas_seconds" width="188" height="188">
                        </canvas>
                        <div class="text">
                            <span class="val"></span><span class="type_seconds type">&nbsp;Seconds</span>
                        </div>
                    </div>
                </div>
                !-- /Seconds -->
            </div>
        </div><!--/wrapper-->
        {% if request.user.is_authenticated %}
        <div class='home_login_div'>
            <center>
                <p style="font-size:17px; color:#ffffff;">Welcome, <strong>{{request.user.username}}</strong> </p>
                <a class='btn btn-inverse' href="{% url authmn_logout %}">Logout</a>
            </center>
        </div>
        {% else %}
        <div class='home_login_div'>
            <center>
                <a class='btn btn-inverse' href="{% url authmn_login %}">Login</a> <br><br>
                <a class='btn btn-inverse' href="{% url authmn_register %}">Register</a>
            </center>
        </div>
        {% endif %}
        {% endblock %}
        <!-- /////////////////////////////////////////////////////////
                                N A V B A R
            \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->        
        <div id="navigation_bottom" class="navbar-bottom">
            <div class="navigation">
                <ul class="menu">
                {% block nav_links %}
                    <li class="menu-item current-menu-item">
                        <a href="#" id="home_menu" onclick="show_page(this.id)">
                            Home<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="intro_menu" onclick="show_page(this.id)">
                            Introduction<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="event_format_menu" onclick="show_page(this.id)">
                            Event Format<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="problem_statement_menu" onclick="show_page(this.id)">
                            Problem Statement<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="prize_money_menu" onclick="show_page(this.id)">
                            Prize Money<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" id="faq_menu" onclick="show_page(this.id)">
                            FAQ<br /><span class="sub"></span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#"  id="contact_menu" onclick="show_page(this.id)">
                            Contact<br><span class="sub"></span>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <!-- <li class="menu-item">
                        <a href="#"  id="user_details_menu" onclick="show_page(this.id)">
                            Details<br><span class="sub"></span>
                        </a>
                    </li> -->
                    {% endif %}
                {% endblock %}
                </ul>
            </div>
            <div class="cursor"></div>
            <div class="cursor-top"></div>
            <div class="cursor-bottom"></div>
            <div class="social_buttons pull-right" onmouseover="javascript:this.style.width='156px'" onmouseout="javascript:this.style.width='39px'">
                <a class="social_buttons_facebook" href="https://www.facebook.com/Shaastra">
                    <span></span>
                </a>
                <a class="social_buttons_google" href="http://www.youtube.com/user/iitmshaastra"></a>
                <a class="social_buttons_twitter" href="https://twitter.com/Shaastra_IITM"></a>
            </div>
            
        </div>
    </div>
</body>
</html>
