{% extends "authmn/index.html" %}

{% block moon_block %}
    <div id="login_section">
        <form action ="" method="POST">
    			{% csrf_token %}
            <table>
    			{{ form.as_table }}
    		</table>
    		<p> {{ error_message }} </p>
    		{{ value|linebreaks }} 
            <center>
                <input type="submit" value="Login" class="btn btn-inverse">
            </center>
        </form>
    </div>

    <style type="text/css">
        table, td, th{
            border:1px solid transparent; 
            padding:5px; 
            position:relative;
            top:-5px;
        }
    </style>

    <script type="text/javascript">
        $("#team_indus_menu").removeAttr("onclick");
    </script>
{% endblock %}

{% block nav_links %}
    <li class="menu-item">
        <a id="home_menu" href="{% url authmn_home %}">
            Home<br /><span class="sub"></span>
        </a>
    </li>
    <li class="menu-item current-menu-item">
        <a href="#" id="login_menu" href="#">
            Login<br /><span class="sub"></span>
        </a>
    </li>
{% endblock %}
    <!--</body>
</html>-->