div#home_effect div.click_help_text {
    bottom : 50px;
    position : absolute;
    color : #ffffff;
    z-index : 100;
    display : block;
    margin : 0px;
    padding : 0px;
}
div.social_buttons {
    bottom : 104px;
    position : relative;
    width : 39px;
    height : 44px;
    background-color : transparent;
    background-image : url('../img/social_buttons_new.png');
    z-index : 100;
    display:block;
    -webkit-transition: width 1s;
       -moz-transition: width 1s;
         -o-transition: width 1s;
            transition: width 1s;
}
a.social_buttons_facebook {
    display : block;
    position: relative;
    top: 0px;
    left:39px;
    width: 39px;
    height: 44px;
}
a.social_buttons_google {
    display : block;
    position: relative;
    top: -44px;
    left: 78px;
    width: 39px;
    height: 44px;
}
a.social_buttons_twitter {
    display : block;
    position: relative;
    top: -78px;
    left: 117px;
    width: 39px;
    height: 44px;
}
div#navigation_bottom {
    width: 100%;
    height: 50px;
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: auto;
    background-color: #000000;
    background-size : 100%;
    background-image: linear-gradient(top, rgb(30,30,30) 29%, rgb(0,0,0) 100%);
    background-image: -o-linear-gradient(top, rgb(30,30,30) 29%, rgb(0,0,0) 100%);
    background-image: -moz-linear-gradient(top, rgb(30,30,30) 29%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient(top, rgb(30,30,30) 29%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient(top, rgb(30,30,30) 29%, rgb(0,0,0) 100%);
    z-index: 99;
}
div#navigation_bottom .navigation {
    min-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
div#navigation_bottom .navigation ul.menu {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}
div#navigation_bottom .navigation ul.menu li {
    background-image: url('../img/bg_menu.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 2px;
    outline: 0;
}
div#navigation_bottom .navigation ul.menu li a {
    margin: 15px 20px 20px 18px;
    font-weight : bold;
    font-size : 0.8em;
    text-transform: uppercase;
    color: #fff;
    display: block;
    outline: 0;
}
div#navigation_bottom .navigation ul.menu li a:hover {
    background-color: transparent;
    text-shadow: 0 0 5px #eee;
    text-decoration : none;

}
div#navigation_bottom .navigation ul.menu li:last-child {
    background-image: none;
}
div#navigation_bottom .cursor {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 100%;
    right: auto;
    width: 13px;
    height: 6px;
    background-image: url('../img/cursor.png');
    background-repeat: no-repeat;
}
div#navigation_bottom .cursor-bottom {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 2%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    height: 3px;
    min-width: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div#navigation_bottom .cursor-top {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 92%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    height: 3px;
    min-width: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.menu ul {
    background: #eee;
}
.menu li {
    float: left;
    position: relative;
}
.menu li a {
    border-bottom: 0;
}
.menu li a:hover {
    background-color: #dedede;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}
